a:hover{
   color: #212121;
   text-decoration: none;
}

.layout-container{
   display:flex;
   flex-wrap: wrap;
}

.menu-container{
   display: flex;
   flex: 1;
   max-width: 300px;
   height: 1px;
   min-height: 100vh;
   position: relative;
   overflow-y:auto ;
}

.content-container{
    flex: 2;
}


